In [1]:
!pip3 install pandas
!pip3 install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/mohit/Library/Python/3.9/lib/python/site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/mohit/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /Users/mohit/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mohit/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mohit/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/mohit/Library/Python/3.9/lib/python/site-packages (1.26.4)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [19]:
import pandas as pd

openingPd = pd.DataFrame([
    {
        "date": "2023-06-01T00:00:00.000",
        "opening_arr": "21522955"
    },
    {
        "date": "2023-07-01T00:00:00.000",
        "opening_arr": "18445640"
    },
    {
        "date": "2023-08-01T00:00:00.000",
        "opening_arr": "14617155"
    },
    {
        "date": "2023-09-01T00:00:00.000",
        "opening_arr": "17789370"
    },
    {
        "date": "2023-10-01T00:00:00.000",
        "opening_arr": "23391390"
    },
    {
        "date": "2023-11-01T00:00:00.000",
        "opening_arr": "25232450"
    },
    {
        "date": "2023-12-01T00:00:00.000",
        "opening_arr": "26603025"
    },
    {
        "date": "2024-01-01T00:00:00.000",
        "opening_arr": "24173585"
    },
    {
        "date": "2024-02-01T00:00:00.000",
        "opening_arr": "24767805"
    },
    {
        "date": "2024-03-01T00:00:00.000",
        "opening_arr": "29109480"
    },
    {
        "date": "2024-04-01T00:00:00.000",
        "opening_arr": "31516655"
    },
    {
        "date": "2024-05-01T00:00:00.000",
        "opening_arr": "26539880"
    }
])

print(openingPd)

                       date opening_arr
0   2023-06-01T00:00:00.000    21522955
1   2023-07-01T00:00:00.000    18445640
2   2023-08-01T00:00:00.000    14617155
3   2023-09-01T00:00:00.000    17789370
4   2023-10-01T00:00:00.000    23391390
5   2023-11-01T00:00:00.000    25232450
6   2023-12-01T00:00:00.000    26603025
7   2024-01-01T00:00:00.000    24173585
8   2024-02-01T00:00:00.000    24767805
9   2024-03-01T00:00:00.000    29109480
10  2024-04-01T00:00:00.000    31516655
11  2024-05-01T00:00:00.000    26539880

In [18]:
newPd = [
    {
        "date": "2023-06-01T00:00:00.000",
        "new_arr": "67525"
    },
    {
        "date": "2023-07-01T00:00:00.000",
        "new_arr": "2667420"
    },
    {
        "date": "2023-08-01T00:00:00.000",
        "new_arr": "4496070"
    },
    {
        "date": "2023-09-01T00:00:00.000",
        "new_arr": "5602020"
    },
    {
        "date": "2023-10-01T00:00:00.000",
        "new_arr": "4620900"
    },
    {
        "date": "2023-11-01T00:00:00.000",
        "new_arr": "5723930"
    },
    {
        "date": "2023-12-01T00:00:00.000",
        "new_arr": "3095565"
    },
    {
   
        "date": "2024-01-01T00:00:00.000",
        "new_arr": "1175300"
    },
    {
        "date": "2024-02-01T00:00:00.000",
        "new_arr": "8123440"
    },
    {
        "date": "2024-03-01T00:00:00.000",
        "new_arr": "2407175"
    },
    {
        "date": "2024-04-01T00:00:00.000",
        "new_arr": "1865515"
    },
    {
        "date": "2024-05-01T00:00:00.000",
        "new_arr": "0"
    }
]

newDf = pd.DataFrame(newPd)

                       date  new_arr
0   2023-06-01T00:00:00.000    67525
1   2023-07-01T00:00:00.000  2667420
2   2023-08-01T00:00:00.000  4496070
3   2023-09-01T00:00:00.000  5602020
4   2023-10-01T00:00:00.000  4620900
5   2023-11-01T00:00:00.000  5723930
6   2023-12-01T00:00:00.000  3095565
7   2024-01-01T00:00:00.000  1175300
8   2024-02-01T00:00:00.000  8123440
9   2024-03-01T00:00:00.000  2407175
10  2024-04-01T00:00:00.000  1865515
11  2024-05-01T00:00:00.000        0

In [ ]:
CAC =  OFFSET((S&M Expense - Customer Marketing Expense), -1) / New Customers